h1, h2{
  font-family: "Trebuchet MS", sans-serif;
}


.header{
  background: #423E3B;
  text-align: center;
  padding: 50px;
}
.header-icon{
  display: block;
  width: 200px;
  margin: 0 auto;
}
.header-title{
margin: -30px auto 0;
font-size: 36px;
text-transform: uppercase;
color: #fff;
font-weight: normal;
letter-spacing: 1px;
}
.header-title::before,
.header-title::after{
  content: "";
  display: inline-block;
  width: 10px;
  height: 3px;
  background: #fff;
  vertical-align: middle;
}
.header-title::before{
  margin-right: 10px;
}
.header-title::after{
  margin-left: 10px;
}
.cities{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.city:nth-child(4n+2){
  background: #f2f2f2;

}
.city:nth-child(4n+3){
  background: #f2f2f2;

}
.city{
  width: 50%;
  padding: 60px 0;
  text-align: center;
}
.city-img{
  display: block;
  margin: 0 auto;
  width: 150px;*/
}
.city-title{
  margin: 10px 0 0;
  font-size: 36px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: normal;
  color: #423E3B;
}
.city-description{
  margin: 15px auto 0;
  max-width: 550px;
  font-family: Georgia;
  font-style: italic;
  font-size: 18px;
  line-height: 30px;
  color: #666;
}

.footer{
  padding: 85px 0;
  background: #423E3B;
  text-align: center;
}
.footer-text{
  margin: 0;
  font-family: Georgia;
  color: #fff;
  font-style: italic;
  font-size: 14px;
  line-height: 30px;
}
